# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
swenv.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
env
**/*.pyc
**/__pycache__
media
.DS_Store
*.sqlite3
.env
.env.dev
.env.prod
.env.prod.db
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# mailer
mailer/lib/
mailer/node_modules/
mailer/package-lock.json

# scraper
scraper/functions/src/firebase-keys.json
lib/
